* {
    background-color: #74a12c;
}

h1 {
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul a {
    display: inline-block;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}